*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*///////////////////////////////////////////////Login/////////////////////////////////////////////*/

.signin{
	text-align: center;
	font-weight: 600;
	text-transform: uppercase;
}


/*///////////////////////////////////////////////Login End/////////////////////////////////////////////*/

.tms0{
	width: 100%;
	height: 100vh;
	z-index: -99999;
	background-size: cover;
  	background-repeat: no-repeat;
  	position: relative;
}

/*///////////////////////////////////////////////Footer CSS/////////////////////////////////////////////*/


/*///////////////////////////////////////////////Footer CSS End/////////////////////////////////////////////*/
